<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
<bean id = "waiterTarget" class="com.proxyscheml.Waiter"/>
<bean id = "sellerTarget" class="com.proxyscheml.Seller"/>
<bean id = "greetingAdvice" class="com.proxyscheml.GreetingBeforeAdvice"/>


<bean id = "greetingAdvisor" class ="com.proxyscheml.GreetingAdvisor"
	p:advice-ref="greetingAdvice"/>
	
<bean id = "parent" abstract = "true"
		class="org.springframework.aop.framework.ProxyFactoryBean"
		p:interceptorNames = "greetingAdvisor"
		p:proxyTargetClass="true"/>
<bean id ="waiter" parent="parent" p:target-ref="waiterTarget"/>
<bean id = "seller" parent = "parent" p:target-ref="sellerTarget"/>

<!-- 下面使用正则表达式进行过滤 -->
<bean id = "regexpAdvisor" class = "org.springframework.aop.support.RegexpMethodPointcutAdvisor"
	p:advice-ref="greetingAdvice">
	<property name = "patterns">
		<list>
			<value>.*greet.*</value>
		</list>
	</property>	
</bean>
<bean id ="water1" class="org.springframework.aop.framework.ProxyFactoryBean"
	p:interceptorNames="regexpAdvisor"
	p:target-ref="waiterTarget"
	p:proxyTargetClass="true"
/>

<!-- 更优雅的自动代理方式 
<bean id = "WaiterTarget" class="com.proxyscheml.Waiter"/>
<bean id = "sellerTarget" class="com.proxyscheml.Seller"/>
<bean id = "greetingAdvice" class="com.proxyscheml.GreetingBeforeAdvice"/>
<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator"
	p:beanNames ="*er*"
	p:interceptorNames="greetingAdvice"
	p:optimize="true" />
另一种
<bean id = "regexpAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor"
	p:patterns =".*greet.*"
	p:advice-ref="greetingAdvice" />



-->
</beans>