<?xml version="1.0" encoding="UTF-8"?>
<bean id = "WaiterTarget" class="com.proxyscheml.Waiter"/>
<bean id = "sellerTarget" class="com.proxyscheml.Seller"/>
<bean id = "greetingAdvice" class="com.proxyscheml.GreetingBeforeAdvice"/>
<bean id = "greetingAdvisor" class ="com.proxyscheml.GreetingAdvisor"
	p:advice-ref="greetingAdvice"/>
<bean id = "parent" abstract = "true"
		class="org.springframework.aop.framework.ProxyFactoryBean"
		p:interceptorNames = "greetingAdvisor"
		p:proxyTargetClass="true"/>
<bean id ="waiter" parent="parent" p:target-ref="waiterTarget"/>
<bean id = "seller" parent = "parent" p:target-ref="sellerTarget"/>